{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": true,
  "jsc": {
    "parser": {
      "syntax": "ecmascript",
      "jsx": true
    },
    "target": "es2020"
  },
  "minify": true,
  "module": {
    "type": "commonjs"
  },
  "isModule": true
}